<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gestion.WindowsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="DatabaseConnectionString" value="Persist Security Info=False;User ID=Gestion;password=Gestion;Initial Catalog=Gestion;Data Source=.;" />
    <add key="LogFile"                  value="D:\GITProyectos\polshu\SampleArquitectura\Gestion.WindowsForm\Logs\Log.txt" />
    <add key="HTTPDomainAPI"            value="http://localhost/" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Gestion.WindowsForm.Properties.Settings>
      <setting name="PollInterval" serializeAs="String">
        <value>4</value>
      </setting>
    </Gestion.WindowsForm.Properties.Settings>
  </applicationSettings>
</configuration>