<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="DatabaseConnectionString"     value="Persist Security Info=False;User ID=Gestion;password=Gestion;Initial Catalog=Gestion;Data Source=.;"/>
    <add key="LogFile"                      value="C:\GITProyectos\polshu\SampleArquitectura\Gestion.WebForms\Logs\Log.txt"/>
  </appSettings>
</configuration>