<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="DatabaseConnectionString" value="Persist Security Info=False;User ID=Gestion;password=Gestion;Initial Catalog=Gestion;Data Source=.;" />
    <add key="LogFile"                  value="D:\GITProyectospolshu\SampleArquitectura\Gestion.WebForms\Logs\Log.txt" />
    <add key="HTTPDomainAPI"            value="http://localhost/" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>